<mat-card>
	<form (submit)="onAddPost(postForm)" #postForm="ngForm">
		<mat-form-field>
			<input matInput type="text" ngModel name="enteredTitle" required minlength="10" #enteredTitle="ngModel">
			<mat-error *ngIf="enteredTitle.invalid">Please enter post title</mat-error>
			<!-- <mat-error *ngIf="postForm.getControl('title').invalid">{{getErrorMessage()}}</mat-error> -->
		</mat-form-field>
		<mat-form-field>
			<textarea matInput ngModel name="enteredContent" required minlength="10" #enteredContent="ngModel"></textarea>
			<mat-error *ngIf="enteredContent.invalid">Please enter post content</mat-error>
		</mat-form-field>
		<button mat-raised-button color="accent" type="submit"> save post</button>
	</form>
</mat-card>